.DS_Store
*~
*.gz
*.pyc
__pycache__/
mnist.pkl
.ipynb_checkpoints
deep-learning-from-scratch/dataset/
deep-learning-from-scratch/ch01/
deep-learning-from-scratch/ch02/
deep-learning-from-scratch/ch03/
deep-learning-from-scratch/ch04/
deep-learning-from-scratch/ch05/
deep-learning-from-scratch/ch06/
deep-learning-from-scratch/ch07/
deep-learning-from-scratch/ch08/
初めてのVC++/Debug/*
初めてのVC++/.vs/初めてのVC++/v16/.suo
初めてのVC++/.vs/初めてのVC++/v16/Browse.VC.db
初めてのVC++/.vs/初めてのVC++/v16/ipch/AutoPCH/8f9f8cb5a933688e/CONHELLO.ipch
初めてのVC++/.vs/初めてのVC++/v16/ipch/AutoPCH/bab273f22bcd592e/CONMOGU.ipch
初めてのVC++/ConHello/ConHello.vcxproj.user
初めてのVC++/ConHello/Debug/
初めてのVC++/ConHello/Debug/ConHello.tlog/
初めてのVC++/ConMogu/ConMogu.vcxproj.user
初めてのVC++/ConMogu/Debug/
初めてのVC++/ConHello/Debug/
初めてのVC++/ConHello/Debug/ConHello.tlog/
初めてのVC++/ConMogu/Debug/ConMogu.tlog/
deep-learning-from-scratch/ch00/train_loss_list.pkl
